@import url("@/app/styles/variables.css");

.header {
    padding: 0 1.5rem;
    background-color: var(--color-gray-200);
    border-bottom: 1px solid var(--color-gray-350);
}

.container {
    display: flex;
    grid-area: header;
    align-items: center;
    justify-content: space-between;
    max-width: 1250px;
    height: 75px;
    margin: 0 auto;
}

.list {
    display: flex;
    align-items: center;
    gap: 3rem;
    color: var(--color-body-text)
}

/* .activeLink {

} */

.logo {
    width: 10vw;
    height: 10vh;
    margin-left: 0;
    margin-right: 0;
    object-fit: contain;
}