@import url("@/app/styles/variables.css");

.container {
    display: flex;
    grid-area: header;
    align-items: center;
    justify-content: space-between;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 10px;
}

.list {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link {
    color: inherit;
    padding: 0 10px;
}

.logo {
    width: 15vw;
    height: 7vh;
}

.btn-theme {
    background: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    justify-content: center;
    border: 1px solid var(--color-border-base);

}