.pagination {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    margin: 1rem 0;
}

.page-button {
    padding: 0.5rem 0.8rem;
    background: inherit;
    color: inherit;
    border: 0.1rem solid var(--color-gray-350);
    border-radius: 5%;
    cursor: pointer;
}

.page-button-active {
    background: var(--color-blue-600);
    color: var(--color-white);
}

.ellipsis {
    padding: 0.5rem;
    color: var(--color-gray-500);
    user-select: none;
}