@import url("@/app/styles/variables.css");

.container {
    display: flex;
    grid-area: header;
    align-items: center;
    justify-content: space-between;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 0.5rem;
}

.list {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.logo {
    width: 20rem;
    height: 5rem;
}

.btn-theme {
    background: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1rem;
    justify-content: center;
    border: 0.1rem solid var(--color-border-base);

}