.title {
    font-weight: 500;
    margin: 2rem 0;
}

.search-page-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5rem;
    margin: 1rem 0;
}

.results-title {
    margin: 2rem 0;
}

.enter {
    color: var(--color-gray-600);
    margin: 1rem 0;
}