.tag {
    padding: 0.5rem;
    font-weight: 600;
    border-radius: 1rem;
    border: 0.1rem solid var(--color-border-base);
    background-color: inherit;
    color: inherit;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.tag:hover {
    border-color: var(--color-blue-600);
    background-color: inherit;
    color: var(--color-blue-600);
    cursor: pointer;
}

.tag.selected {
    background-color: var(--color-blue-600);
    border-color: var(--color-blue-600);
    color: var(--color-white)
}

.tag.selected:hover {
    background-color: inherit;
    border-color: inherit;
}