.filters {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-self: start;
    gap: 0.5rem;
    padding: 0.5rem;
    width: 25%;
    min-width: 12rem;
    max-width: 18rem;
    border-radius: 0.5rem;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.reset {
    transition: all 0.2s ease;
    margin: 1rem auto;
    background-color: var(--color-blue-600);
    color: var(--color-white);
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}