.filters {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-self: start;
    gap: 0.5rem;
    padding: 0.5rem;
    width: 25%;
    min-width: 12rem;
    max-width: 18rem;
    border-radius: 0.5rem;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tag {
    padding: 0.5rem;
    font-weight: 600;
    border-radius: 1rem;
    border: 0.1rem solid var(--color-border-base);
    background-color: inherit;
    color: inherit;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.tag:hover {
    border-color: var(--color-blue-600);
    background-color: inherit;
    color: var(--color-blue-600);
    cursor: pointer;
}

.tag.selected {
    background-color: var(--color-blue-600);
    border-color: var(--color-blue-600);
    color: var(--color-white)
}

.tag.selected:hover {
    background-color: inherit;
    border-color: inherit;
}

.reset {
    transition: all 0.2s ease;
    margin: 1rem auto;
    background-color: var(--color-blue-600);
    color: var(--color-white);
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}