.card {
    overflow: hidden;
    position: relative;
    padding: 10px;
}

.card:hover {
    transform: translateY(-5px);
}

.poster {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.title  {
    font-size: 16px;
    color: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.favorite {
    display: block;
    visibility: hidden;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
}

.favorite:hover {
    visibility: visible;
}