.card {
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
    position: relative;
    padding: 10px;
}

.card:hover {
    transform: translateY(-5px);
}

.poster {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.title  {
    font-size: 16px;
    color: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rating {
    position: absolute;
    border: 1px solid #94ef18;
    background-color: #94ef18;
    bottom: 95px;
    right: 15px;
    font-weight: 500;
    color: red; /* не забыть исправть 3 цвета качества */
    padding: 0.4rem;
    border-radius: 50%;
}
