.card {
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
    position: relative;
    padding: 10px 0;
}

.card:hover {
    transform: translateY(-5px);
}

.poster {
    height: 300px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.title  {
    font-size: 16px;
    color: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rating {
    position: absolute;
    border: 1px solid #94ef18;
    background-color: #94ef18;
    bottom: 100px;
    right: 10px;
    font-weight: 500;
    color: red;
    padding: 10px;
    border-radius: 50%;
}
