.link {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
    transform: scale(1);
    font-size: 1rem;
}

.link:not(.header) {
    background-color: transparent;
    border: 0.1rem solid var(--color-gray-300);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}

.link.header {
    background-color: transparent;
    border: none;
}

.link.active {
    transform: scale(1.15);
}

.link:not(.header).active {
    color: var(--color-white);
    background-color: var(--color-blue-600);
    border-color: var(--color-blue-600);
}

.link.header.active {
    color: var(--color-blue-600);

}