.cast-grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 2rem;
}

.actor-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem 0;
}

.actor-photo {
    width: 160px;
    height: 160px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
    background-color: var(--color-gray-200);
    border: 0.1rem solid var(--color-gray-600);
}

.actor-character {
    font-size: 0.9rem;
    color: var(--color-gray-600);
}