.cover {
    width: 100vw;
    height: 75vh;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    position: relative;
    background-size: cover;
}

.cover::before {
    content: '';
    position: absolute;
    z-index: -1;
}

.subtitle {
    margin: 1rem 0;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--color-white);
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding-top: 6rem;
}