.cover {
    height: 75vh;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    background-size: cover;
    background-color: var(--color-gray-300);
    overflow-x: hidden;
}


.subtitle {
    margin: 1rem 0;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--color-white);
}

.cover-container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 5rem 1rem 0;
}

.cover-container  h1 {
    margin-top: 5rem;
    font-size: 4rem;
    letter-spacing: 0.25rem;
}