@import url("@/app/styles/variables.css");

.container {
    display: flex;
    width: 100%;
    max-width: 35rem;
    border-radius: 0 1.5rem 1.5rem 0;
    overflow: hidden;
    background-color: rgb(var(--color-border-base) / 20%);
    backdrop-filter: blur(1rem);
    border: 0.1rem solid rgb(255 255 255 / 20%);
}

.input {
    flex: 1;
    padding: 0.7rem;
    border: none;
    background: transparent;
    color: inherit;
    font-size: 1.5rem;
    outline: none;
}

.input::placeholder {
    color: rgb(255 255 255 / 70%);
}

.input:focus {
    border: 0.2rem solid var(--color-blue-600);
}

.button {
    padding: 1rem 2rem;
    border: none;
    background-color: var(--color-blue-600);
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}