*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Set core body defaults */
body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    border: none;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--color-white);
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
}

/* A elements that don't have a class get default styles */
a {
    color: currentcolor;
    text-decoration: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

body .light {
    background-color: var(--color-page-background-light);
    color: var(--color-page-text-light);
}

body .light header {
    border-bottom: 2px solid var(--color-gray-800);
}

body .light footer {
    border-top: 2px solid var(--color-gray-800);
}

body .dark {
    background-color: var(--color-page-background-dark);
    color: var(--color-page-text-dark);
}

body .dark header {
    border-bottom: 2px solid var(--color-gray-350);
}

body .dark footer {
    border-top: 2px solid var(--color-gray-350);
}

body .light input {
    background-color: var(--color-page-background-light);
    border: 1px solid var(--color-border-base);
}
