.card {
    overflow: hidden;
    position: relative;
    padding: 0.5rem 0;
}

.card:hover {
    transform: translateY(-5px);
}

.poster {
    border-radius: 1.5rem;
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
}

.card .title {
    font-size: 1rem;
    color: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    margin: 0.5rem 0;
}

.favorite {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
}