.card {
    overflow: hidden;
    position: relative;
    padding: 0.5rem 0;

    &:hover {
        transform: translateY(-5px);
    }
}

.poster {
    border-radius: 1.5rem;
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
}

.card .title {
    font-size: 1rem;
    color: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    margin: 0.5rem 0;
}

.favorite {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background: white;
        transform: scale(1.1);
    }

    &.active {
        color: #ff4d4d;
    }
}