.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: inherit;
    font-size: 1.7rem;
    font-weight: 400;
}

.link {
    display: inline-block;
    color: var(--color-indigo-400);
    text-decoration: none;
    border: 0.1rem solid var(--color-border-base);
    border-radius: 1.7rem;
    padding: 0.5rem;
    background-color: inherit;
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.5rem;
    margin: 2rem 0;
}