
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: inherit;
    font-size: 1.7rem;
    font-weight: 500;
}

.link {
    display: inline-block;
    color: var(--color-indigo-400);
    text-decoration: none;
    border: 1px solid var(--color-border-base);
    border-radius: 25px;
    padding: 5px 10px;
    font-weight: 500;
    background-color: inherit;
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}