.container {
    display: flex;
    margin: 1rem 0;
    gap: 1rem;
    justify-content: space-between;
    position: relative;
}

.filtered-wrapper {
    display: grid;
    flex: 1;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 1rem;
}