.container {
    text-align: center;
    margin: 10% auto;
}

.image {
    max-width: 480px;
    max-height: 450px;
}

.text {
    margin: 2rem 0;
    font-style: italic;
    letter-spacing: 0.15rem;
}