@import url("@/app/styles/variables.css");

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: var(--color-gray-100);
    overflow-x: hidden;
}

.main {
    flex: 1;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.footer {
    padding: 20px 0;
    text-align: center;
    width: 100%;
    border-top: 1px solid var(--color-gray-350);
    background-color: var(--color-gray-200);
    color: var(--color-gray-600);
}