@import url("@/app/styles/variables.css");

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.main {
    flex: 1;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0 0.5rem;
}

.footer {
    flex-shrink: 0;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}